body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #698474;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.article-item {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fcf8f3;
  width: 90%;
  margin-inline: auto;
}

.article-images {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 100px;
  height: 75px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  background-color: #ffd3b6;
  height: 70px;
  position: sticky;
  top: 0;
}
